.heading{
  text-align: center;
}
.paragraphs{
  text-align: center;
}
.buttons:hover{

}
body{
background-color: maroon;
color: white;
font-family: Impact, sans-serif;
}

span.hidden-message{
  opacity: 0.0;
}
span.shown-message{
  opacity: 1.0;
}
.question1{
  text-align: center;
}
button{

}
